<!DOCTYPE html>
<html ng-app='songApp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Guitar Academy</title>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles/gatheme.css">
  <link rel="stylesheet" type="text/css" href="styles/song.css">
</head>

<body>
  <ganavbar></ganavbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Current skill<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Other skill</a></li>
          <li><a href="#">Another skill</a></li>
          <li><a href="#">Yet another skill</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Song</a></li>
          <li><a href="">Song again</a></li>
          <li><a href="">One more song</a></li>
          <li><a href="">Another song</a></li>
          <li><a href="">More song</a></li>
        </ul>
      </div><!-- sidebar -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="btn-group pull-right" role="group" ng-controller="ScoreViewController as SVCtrl">
          <button type="button" class="btn {{SVCtrl.score.htmlClass}}" ng-click="SVCtrl.toggle(SVCtrl.score)">
            Score
          </button>
          <button type="button" class="btn {{SVCtrl.tab.htmlClass}}" ng-click="SVCtrl.toggle(SVCtrl.tab)">
            Tab
          </button>
        </div>
        <h1 class="page-header">WarmUp/FreeRoam</h1>
        <p>Description here</p>
        <p>Score here</p>
        <p>TODO:</p>
        <ul>
          <li>toggle score/tab</li>
          <li>bottom placeholder</li>
          <li>Rearrange and make the side bar nicer</li>
        </ul>
        <hr>
        <!-- From http://getbootstrap.com/examples/sticky-footer-navbar/ (bootstrap template for sticky footer) -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">Copyright &copy; 2014 Guitar Academy.</p>
          </div>
        </footer>
      </div><!-- main -->
    </div><!-- row -->
  </div><!-- container-fluid -->

  <div class="navbar-fixed-bottom bottom-widget" ng-controller="MetronomeController as Metronome">
    <div class="col-xs-3 col-md-2">
      Tempo: {{Metronome.tempo}} BPM
    </div>
    <div class="col-xs-7 col-md-8">
      <input id="slider" ng-model="Metronome.tempo" type="range" min="30" max="160" step="1"> <!-- slider -->
      <button type="button" class="btn" ng-click="Metronome.decrementTempo()">
        <span class="glyphicon glyphicon-minus"></span> <!-- decrement tempo -->
      </button>
      <button type="button" class="btn" ng-click="Metronome.incrementTempo()">
        <span class="glyphicon glyphicon-plus"></span> <!-- increment tempo -->
      </button>
      <button type="button" class="btn" ng-click="Metronome.play()">
        <span class="glyphicon glyphicon-{{Metronome.button}}"></span> <!-- start metronome -->
      </button>
    </div>
    <div class="col-xs-2 col-md-2">Metronome</div>
  </div>

  <script type="text/javascript" src="scripts/angular.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.0.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/metronome.js"></script>
  <script type="text/javascript" src="scripts/song.js"></script>
</body>
</html>
